/************* IMPOSTAZIONI GENERALI *************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ColorTopBar: rgba(8,11,18,255);
    --ColorNavBar: rgba(0,0,0,255);
    --ColorMain: rgba(20,25,34,255);
    --ColorEndBar: rgba(40,40,40,255)
}

.grid {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 5rem calc(100vh - 10rem) 5rem;
 }

#nav-bar {
    grid-row: 1/3;
    background-color: var(--ColorNavBar);
}

#upgrade {
    background-color: var(--ColorTopBar);
}

#list {
    background-color: var(--ColorMain);
    overflow: scroll;
    overflow-x: hidden;
}

#list::-webkit-scrollbar {
    display: none;
  }

#music-bar {
    grid-column: 1/3;
    background-color: var(--ColorEndBar);
}

/************* DEBUG *************/
.grid {
    gap: 1rem;
}
/************* IMPOSTAZIONI SPECIFICHE *************/

/************* HEADER *************/

/************* MAIN *************/

/************* FOOTER *************/

/************* MEDIA QUERY DESKTOP-FIRST *************/
/************* md SCREEN *************/
@media screen and (max-width: 992px) {
    body {
        background-color: red;
    }
}
/************* s SCREEN *************/
@media screen and (max-width: 768px) {
    body {
        background-color: orange;
    }
}
/************* xs SCREEN *************/
@media screen and (max-width: 576px) {
    body {
        background-color: greenyellow;
    }
}
